{% extends 'base.html' %}
{% block title %} {{post.slug}} {% endblock%}

{% block content %}
    <h1> {{post.title}}</h1>
    <p> Published {{post.publish}} by {{post.author}} </p>
    <hr>
    {{post.body|safe }}

    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    {%if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
    {%endif%}
{% endblock %}