{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}  
    <h1>Edit Post</h1>
        
    <div class="form-group"> 
            <form method="POST">
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p}}
        
                <br/>
            <button class="btn btn-primary">Update</button>
           
        </div> 
    {% else %}
    You are not allowd to update this article
    {% endif %}

{% else %}
        You are not login or sign it 


{% endif %}s
{% endblock %}